<label>Server name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"> <br />
<!--<p>{{ serverName }}</p>-->
<button
  class="btn btn-primary"
  [disabled] = "!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--<p [innerText] = "allowNewServer">ng</p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server was created! Server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<h4>Assignment starts here</h4>
<!--<button
  class="btn btn-primary"
  (click)="showText = !showText">Display Details</button>-->
<button
  class="btn btn-primary"
  (click)="onToggleDisplay()">Display Details</button>
<p *ngIf="showText">This is a sample detail {{ showText }}</p>
<div
  *ngFor="let logItem of log"
  [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'white'}"
  [ngClass]="{'white-text': logItem >= 5}"> {{ logItem }} </div>
